<div class="profile-view">
    <header>
        <div class="profile-icon">
            <span class="initials">JD</span>
        </div>
    </header>
    <div class="profile-description">
        <span class="mat-display-2 display-block m-0">John Doe</span>
        <span class="mat-body display-block m-0">@johndoe</span>
        <span class="mat-h3 display-block m-0 mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </span>
        <hr class="mb-0"/>
    </div>
    <div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab>
                <ng-template mat-tab-label>
                    <fa-icon [icon]="faIdBadge" style="font-size: 21px;" class="me-1"></fa-icon>                 
                    Account information
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>