<div class="container-fluid p-0 h-100">
    <div fxFlex="280px" class=" shadow-1" style="background-color: var(--combo-black-white);">
        <header class="position-relative" style="height: 150px;background: #C04848;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">
            <div class="profile-icon position-absolute shadow-1" style="height: 100px;width: 100px;border-radius: 50%;left: 50%;bottom: -25%;transform: translate(-50%);background-color: var(--combo-white-blue-500);">
            </div>
        </header>

        <div style="margin-top: 5rem;" >
            <ul>
                <li class="container-fluid p-0">
                    <div fxFlex="40px">

                    </div>
                    <div fxFlex style=" border-top-left-radius: 25px; border-bottom-left-radius: 25px;" class="padding1015 selected">
                        <span class="dislpay-block mat-h4">Account</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>