@import "../../../../mixins";

.profile-view {
  padding: 10px 15px;
  & header {
    height: 280px;
    background: linear-gradient(90deg, #00223e, #ffa17f);
    border-radius: 0.25rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    position: relative;

    & .profile-icon {
      height: 160px;
      width: 160px;
      border: 3px solid black;
      border-radius: 50%;
      position: absolute;

      top: 70%;
      left: 50%;
      transform: translateX(-50%);

      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
      background-color: #f5f5f5;
      text-align: center;

      & .initials {
        @include initials(160px);
      }
    }
  }

  & .profile-description {
    margin: auto;
    max-width: 1000px;
    margin-top: 5rem;
    padding: 10px 15px;
    text-align: center;
  }
}
