<div class="padding2030">
    <header>
        <span class="mat-display-1">Settings</span>
        <hr>
    </header>  

    <div class="container-fluid padding2030" fxLayoutAlign="center" fxLayoutGap="30px" style="margin-top:5rem">
        <div fxFlex="150px" class="text-center pointer">
            <div matRipple class="p-3" style="border-radius: 0.25rem;">
                <div class="tile shadow-1 p-3">
                    <fa-icon [icon]="faCog" style="font-size: 4rem;"></fa-icon>
                </div>
                <div class="p-2">
                    <span class="mat-h2">General</span>
                </div>
            </div>
        </div>
        <div fxFlex="150px" class="text-center pointer">
            <div matRipple class="p-3" style="border-radius: 0.25rem;" routerLink="/settings/themes">
                <div class="tile shadow-1 p-3">
                    <fa-icon [icon]="faPalette" style="font-size: 4rem;"></fa-icon>
                </div>
                <div class="p-2">
                    <span class="mat-h2">Themes</span>
                </div>
            </div>
        </div>
    </div>
</div>