<div class="profile-card">
    <div style=" width: fit-content; position: absolute; right: 10px;">
        <fa-icon [icon]="faCog" class="pointer"></fa-icon>
    </div>
    <div class="profile-icon">
        <span class="initials">{{cardData.INITIALS}}</span>
    </div>   
    <div class="padding1015">
        <span class="mat-h1 display-block m-0">{{cardData.NAME}}</span>
        <span class="mat-body display-block m-0">@{{cardData.USERNAME}}</span>
    </div>            
    <div>
        <button mat-raised-button class="w-100" color="primary">View</button>
    </div> 
</div>