@import "../../../../mixins";

.profile-card {
  border-radius: 0.25rem;
  padding: 1.4rem;
  background-color: var(--combo-black-white);
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  & .gear-options {
    width: fit-content;
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
  }

  & .actions {
    display: none;

    & .action-delete {
      display: none;
    }
  }
  &:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
    color: var(--combo-white-black);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;

    & .gear-options,
    .actions {
      display: block;

      & .action-delete {
        display: block;
        margin-right: 0.5rem;
      }
    }
  }

  & .profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    margin: auto;
    background-color: #f5f5f5;
    text-align: center;

    & .initials {
      @include initials(50px);
    }
  }
}
