<div class="profile-card" fxLayout="column">
    <div class="gear-options">
        <fa-icon [icon]="faCog" class="pointer"></fa-icon>
    </div>
    <div class="p-0 container-fluid" fxLayoutGap="5px">
        <div fxFlex="50px">
            <div class="profile-icon">
                <span class="initials">{{cardData.INITIALS}}</span>
            </div>
        </div>
        <div fxFlex class="" style="overflow: hidden;">
            <span class="mat-h1 display-block m-0 truncate" >{{cardData.NAME}}</span>
            <span class="mat-small display-block m-0 truncate">@{{cardData.USERNAME}}</span>
        </div>
    </div>
    <div class="text-end ps-2 pe-2 mt-3 actions container-fluid">
        <!-- <span class="mat-small"></span> -->
        <div fxFlex class="action-delete">
            <button mat-stroked-button color="warn" class="w-100" (click)="deleteProfile(cardData.PROFILE_ID)">Delete</button>
        </div>
        <div fxFlex>
            <button mat-raised-button color="primary" class="w-100" (click)="viewProfile()">View</button>
        </div>
    </div>
</div>