<form [formGroup]="newProfileForm" class="container-fluid p-0 h-100" fxLayout="column">
    <div fxFlex class="padding2030 scrollable">
        <header>
            <div>
                <fa-icon [icon]="faLongArrowAltLeft" class="pointer" style="font-size: 2rem;" routerLink="/account"></fa-icon>
            </div>
            <span class="mat-display-1">New profile</span>
            <hr/>
        </header>

        <div style="width: 800px;" class="margin-auto">
            <header class="text-center">
                <span class="mat-h4 m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
                <hr class="m-0"/>
            </header>
            <div class="padding1015" *ngIf="createNewProfileErrors.length > 0">
                <div class="alert alert-danger mb-0 margin-auto" style="width: 320px;">
                    <ul class="m-0 p-0" style="list-style-type: none;">
                        <li *ngFor = "let error of createNewProfileErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            </div>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab>
                <ng-template mat-tab-label>
                    <fa-icon [icon]="faIdBadge" style="font-size: 21px;" class="mr-1"></fa-icon>                 
                    Account information
                </ng-template>                
                </mat-tab>
            </mat-tab-group>
            <div class="padding2030 container-fluid">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3"> 
                            <mat-label>Username</mat-label>
                            <fa-icon [icon]="faUser" matPrefix></fa-icon>
                            <input matInput formControlName="IDENTIFIER">     
                            <mat-error *ngIf="(isCreateProfileAttempt || (IDENTIFIER != null && IDENTIFIER.touched)) && newProfileFormErrors.IDENTIFIER">
                                {{newProfileFormErrors.IDENTIFIER}}
                            </mat-error>                   
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100"> 
                            <mat-label>Password</mat-label>
                            <fa-icon [icon]="faKey" matPrefix></fa-icon>
                            <input matInput formControlName="SECRET" type="{{ (SHOW_PASSWORD !== null && SHOW_PASSWORD.value) ? 'text' : 'password' }}" (change)="checkPwnedPassword()">                        
                            <mat-error *ngIf="(isCreateProfileAttempt || (SECRET != null && SECRET.touched)) && newProfileFormErrors.SECRET">
                                {{newProfileFormErrors.SECRET}}
                            </mat-error> 
                          </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100"> 
                            <mat-label>Confirm password</mat-label>
                            <fa-icon [icon]="faKey" matPrefix></fa-icon>
                            <input matInput formControlName="CONFIRM_SECRET" type="{{ (SHOW_PASSWORD !== null && SHOW_PASSWORD.value) ? 'text' : 'password' }}">                        
                            <mat-error *ngIf="(isCreateProfileAttempt || (CONFIRM_SECRET != null && CONFIRM_SECRET.touched)) && newProfileFormErrors.CONFIRM_SECRET">
                                {{newProfileFormErrors.CONFIRM_SECRET}}
                            </mat-error> 
                          </mat-form-field>
                    </div>     
                    <div class="col-12 mb-3">
                        <mat-checkbox color="primary" formControlName="SHOW_PASSWORD" >Show password</mat-checkbox>
                    </div>               
                </div>                
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3"> 
                            <mat-label>First name</mat-label>
                            <fa-icon [icon]="faUser" matPrefix></fa-icon>
                            <input matInput formControlName="FIRST_NAME"> 
                            <mat-error *ngIf="(isCreateProfileAttempt || (FIRST_NAME != null && FIRST_NAME.touched)) && newProfileFormErrors.FIRST_NAME">
                                {{newProfileFormErrors.FIRST_NAME}}
                            </mat-error>                        
                          </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3"> 
                            <mat-label>Last name</mat-label>
                            <fa-icon [icon]="faUser" matPrefix></fa-icon>
                            <input matInput formControlName="LAST_NAME">   
                            <mat-error *ngIf="(isCreateProfileAttempt || (LAST_NAME != null && LAST_NAME.touched)) && newProfileFormErrors.LAST_NAME">
                                {{newProfileFormErrors.LAST_NAME}}
                            </mat-error>                      
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3">
                            <mat-label>Language</mat-label>
                            <fa-icon [icon]="faLanguage" matPrefix></fa-icon>
                            <mat-select>                        
                              <mat-option value="us-EN" selected>
                                English
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100 mb-3"> 
                            <mat-label>Email</mat-label>
                            <fa-icon [icon]="faEnvelope" matPrefix></fa-icon>
                            <input matInput formControlName="EMAIL">  
                            <mat-error *ngIf="(isCreateProfileAttempt || (EMAIL != null && EMAIL.touched)) && newProfileFormErrors.EMAIL">
                                {{newProfileFormErrors.EMAIL}}
                            </mat-error>                       
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="60px" class="text-end padding1015 shadow-1">
        <button mat-raised-button color="primary" routerLink="/account/new-profile" (click)="createProfile()">Save</button>    
    </div>
</form>