.selection-list{
    padding: 0;
    margin: 0;
    & li{
        list-style-type: none;
        &:not(:last-of-type){
            margin-bottom: 0.25rem;
        }
    }
}



.selected{
    background-color: #2196F3;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}