<div class="container-fluid padding2030 h-100" fxLayout="column">
    
    <header fxFlex="73px">
        <span class="mat-display-1">Permission Center</span>
        <hr>
    </header> 
    <div fxFlex class="container-fluid p-0">
        <div fxFlex="280px" class="p-2" style="background-color: var(--combo-black-white); border-radius: 0.25rem;">
            <div matRipple class="p-2 display-inline-block pointer">
                <fa-icon [icon]="faPlus"></fa-icon>
            </div>
            <div matRipple class="p-2 display-inline-block pointer">                    
                <fa-icon [icon]="faMinus"></fa-icon>
            </div>
            <hr class="m-0" style="background-color: var(--combo-white-black);"/>
            <div class="mt-2">
                <ul class="selection-list">
                    <li class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="container-fluid p-0">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="container-fluid p-0">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex>
            <div style="width:500px" class="margin-auto text-center">
                <img src="assets/illustrations/security-on-illustration.svg">
                <span class="display-block mat-display-1">Select users to view permissions</span>
            </div>
        </div>
    </div>
</div>