<div class="container-fluid padding2030 h-100" fxLayout="column">
    
    <header fxFlex="73px">
        <span class="mat-display-1">Permission Center</span>
        <hr>
    </header> 
    <div fxFlex class="container-fluid p-0" fxLayoutGap="10px">
        <div fxFlex="280px" class="p-2" style="background-color: var(--combo-black-white); border-radius: 0.25rem;">
            <div matRipple class="p-2 display-inline-block pointer">
                <fa-icon [icon]="faPlus"></fa-icon>
            </div>
            <div matRipple class="p-2 display-inline-block pointer">                    
                <fa-icon [icon]="faMinus"></fa-icon>
            </div>
            <hr class="m-0" style="background-color: var(--combo-white-black);"/>
            <div class="mt-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Serach</mat-label>
                    <input matInput>
                    <fa-icon [icon]="faUser" matPrefix></fa-icon>                    
                    <mat-hint>Enter user's name to search in list</mat-hint>
                </mat-form-field>                
            </div>
            <div class="mt-2">
                <ul class="selection-list">
                    <li matRipple class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li matRipple class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li matRipple class="container-fluid p-0">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li matRipple class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li matRipple class="container-fluid p-0">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li matRipple class="container-fluid p-0" style="background-color: #424242;border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;">
                        <div fxFlex="40px" class="position-relative pl-2">
                            <mat-checkbox class="vertical-center" color="primary"></mat-checkbox>
                        </div>
                        <div fxFlex class="container-fluid pl-3 selected" style="border-top-left-radius: 35px;border-bottom-left-radius: 35px">
                            <div class="row m-0">
                                <div class="col-2 p-0">
                                    <div class="centralize" style="background-color: var(--combo-white-blue-500); height: 40px; width: 40px;border-radius: 50%;box-shadow: 0 1px 3px rgba(0,0,0,0.4) ;">
                                    </div>
                                </div>
                                <div class="col-10 p-2">
                                    <span class="mat-h3 m-0 display-block">John Doe</span>
                                    <span class="mat-small m-0 display-block">@itsjohndoe</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div fxFlex>
            <div style="width:500px" class="margin-auto text-center" *ngIf="false">
                <img src="assets/illustrations/security-on-illustration.svg">
                <span class="display-block mat-display-1">Select users to view permissions</span>
            </div>

            <div class="padding2030">

                <div style="box-shadow: 0 1px 3px rgba(0,0,0,0.4);" class="mb-4">
                    <header>
                        <div class="padding1015 container-fluid p-0" style="box-shadow: 0 1px 3px rgba(0,0,0,0.4);border-radius: 0.25rem;">
                            <div fxFlex>
                                <span class="mat-h1 display-block m-0">Allow users to delete profile.</span>
                                <span class="mat-small display-block m-0">This permission will allow user to delete their profile. Note: data related to profile may still be stored.</span>
                            </div>              
                            <div fxFlex="60px" class="pl-3 position-relative" style="border-left:1px solid">
                                <mat-slide-toggle class="vertical-center" color="primary">
                  
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </header>

                    <div class="padding2030">
                        <div style="border-radius: 0.25rem;background-color: var(--combo-black-white);" class="padding1015 container-fluid p-0">
                            <div fxFlex style="border:1px solid">
                                
                            </div>
                            <div fxFlex style="border:1px solid red">
                                
                            </div>
                            <div fxFlex style="border:1px solid">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div style="box-shadow: 0 1px 3px rgba(0,0,0,0.4);" class="mb-4">
                    <header>
                        <div class="padding1015 container-fluid p-0" style="box-shadow: 0 1px 3px rgba(0,0,0,0.4);border-radius: 0.25rem;">
                            <div fxFlex>
                                <span class="mat-h1 display-block m-0">Allow users to delete profile.</span>
                                <span class="mat-small display-block m-0">This permission will allow user to delete their profile. Note: data related to profile may still be stored.</span>
                            </div>              
                            <div fxFlex="60px" class="pl-3 position-relative" style="border-left:1px solid">
                                <mat-slide-toggle class="vertical-center" color="primary">
                  
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </header>

                    <div class="padding2030">
                        <div style="border-radius: 0.25rem;background-color: var(--combo-black-white);" class="padding1015 container-fluid p-0">
                            <div fxFlex style="border:1px solid">
                                
                            </div>
                            <div fxFlex style="border:1px solid red">
                                
                            </div>
                            <div fxFlex style="border:1px solid">
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div style="box-shadow: 0 1px 3px rgba(0,0,0,0.4);">
                    <header>
                        <div class="padding1015 container-fluid p-0" style="box-shadow: 0 1px 3px rgba(0,0,0,0.4);border-radius: 0.25rem;">
                            <div fxFlex>
                                <span class="mat-h1 display-block m-0">Allow users to delete profile.</span>
                                <span class="mat-small display-block m-0">This permission will allow user to delete their profile. Note: data related to profile may still be stored.</span>
                            </div>              
                            <div fxFlex="60px" class="pl-3 position-relative" style="border-left:1px solid">
                                <mat-slide-toggle class="vertical-center" color="primary">
                  
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </header>

                    <div class="padding2030">
                        <div style="border-radius: 0.25rem;background-color: var(--combo-black-white);" class="padding1015 container-fluid p-0">
                            <div fxFlex style="border:1px solid">
                                
                            </div>
                            <div fxFlex style="border:1px solid red">
                                
                            </div>
                            <div fxFlex style="border:1px solid">
                                
                            </div>
                        </div>
                    </div>
                </div>


                
                
            </div>
        </div>
    </div>
</div>