<div class="text-center padding2030">
    <div>
        <span class="mat-display-2">Welcome {{name}}</span>
    </div> 
    <div style="width: 400px;" class="m-auto">
        <img src="assets/illustrations/onboard.svg">
    </div> 
    <div>
        <span class="mat-display-1 display-block m-0">We are so excited to have you onboard</span>
        <span class="mat-h3 display-block m-0">We are here to help you get started with your new account. We will guide you through the process and we will be there for you if you need any help.</span>
    </div> 
    <div class="mt-2">
        <button mat-raised-button color="primary" type="button" matStepperNext>Let's get started</button>
    </div>
</div>