<div class="text-center padding2030">
    <div>
        <span class="mat-display-2 display-block m-0">Verify your email address</span>
        <span class="mat-samll display-block m-0">We will send verification code to email registered to your account.</span>
    </div> 
    <div style="width: 400px;" class="m-auto">
        <img src="assets/illustrations/mail-sent.svg">
    </div> 
    <div>
        <button mat-raised-button color="primary" type="button" matStepperNext>Send code</button>
    </div>
</div>