<div class="container-fluid padding2030 position-relative h-100" fxLayout="column">
    <header fxFlex="73px">
        <span class="mat-display-1">Onboarding</span>
        <hr>
    </header>  

    <div class="text-center">
        <div>
            <span class="mat-display-2 display-block m-0">Verify your email address</span>
            <span class="mat-samll display-block m-0">We will send verification code to email registered to your account.</span>
        </div> 
        <div style="width: 500px;" class="m-auto">
            <img src="assets/illustrations/mail-sent.svg">
        </div> 
        <div>
            <button mat-raised-button color="primary" routerLink="/account/onboard/verify-account">Send code</button>
        </div>
    </div>
</div>