.custom-select-list{
    background-color: var(--combo-black-white); 
    border-radius: 0.25rem; 
    margin-right: 10px;
    width: 280px;

    & .selection-list{
        padding: 0;
        margin: 0;
        & li{
            list-style-type: none;            
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            cursor: pointer;            
            & .selection-checkbox:not(.selected){
               visibility: hidden !important
            }
            &:hover{
                background-color: #424242;
                & .selection-checkbox{
                    visibility: visible !important;
                }
            }
            &:not(:last-of-type){
                margin-bottom: 0.25rem;
            }

            & .selected{
                background-color: #2196F3;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                box-shadow: 0 1px 3px rgba(0,0,0,0.4);
            }
        }
    }
}