<div class="p-2 h-100 custom-select-list">
    <div matRipple class="p-2 display-inline-block pointer">
        <fa-icon [icon]="faPlus" routerLink="/account/new-profile"></fa-icon>
    </div>
    <div matRipple class="p-2 display-inline-block pointer">                    
        <fa-icon [icon]="faMinus"></fa-icon>
    </div>
    <hr class="m-0"/>
    
    <div class="mt-1">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Serach</mat-label>
            <input matInput>
            <fa-icon [icon]="faUser" matPrefix></fa-icon>                    
            <mat-hint>Enter user's name to search in list</mat-hint>
        </mat-form-field>                
    </div>    
    <ul class="selection-list">
        <li matRipple class="container-fluid p-0" *ngFor="let customItem of customList.ITEMS" [selectItem]="customItem.ID">
            <div fxFlex="40px" class="position-relative pl-2 selection-checkbox" [attr.selected]="customItem.SELECTED" *ngIf="isMultiSelect">
                <mat-checkbox class="centralize" color="primary" [checked]="customItem.SELECTED"></mat-checkbox>
            </div>
            <div fxFlex class="container-fluid p-0" [ngClass]="{selected: customItem.SELECTED}" style=" border-top-left-radius: 35px;border-bottom-left-radius: 35px">       
                  <div fxFlex class="container-fluid p-0">                      
                    <div fxFlex="40px" class="position-relative ms-2">
                        <div  class="centralize profile-icon">
                            <span class="initials">{{customItem.INITIALS}}</span>
                        </div>
                    </div>
                    <div fxFlex class="p-1 ps-2 item-details">
                        <span class="mat-h3 m-0 display-block">{{customItem.TITLE}}</span>
                        <span class="mat-small m-0 display-block">{{customItem.SUB_TITLE}}</span>
                    </div>
                  </div>       
            </div>
        </li>        
    </ul>
</div>