<div>
    <header class="text-center position-relative shadow-1">
        <fa-icon [icon]="faTimes" class="position-absolute pointer" mat-dialog-close style="top: 6px;left: 10px;"></fa-icon>
        <span mat-dialog-title class="m-0">Warning</span>
        <hr class="m-0"/>
    </header>
    <div class="padding2030 text-center">        
        <fa-icon [icon]="faExclamationTriangle" style="font-size: 6rem; color: #FFEB3B"></fa-icon>
        <span class="mat-body display-block mt-1">
            {{data.MESSAGE}}            
        </span>
        <hr>
        <button mat-raised-button class=" w-100" color="primary" mat-dialog-close>Ok</button>
    </div>
    
</div>