<form [formGroup]="changePasswordForm" class="padding2030 h-100">
    <header>
        <span class="mat-display-1">Change password</span>
        <hr>
    </header>

    <div class="padding2030 margin-auto container-fluid" style="width: 800px;">
        <div fxFlex class="padding2030">
            <mat-form-field appearance="outline" class="w-100 mb-2">
                <mat-label>Old password</mat-label>
                <input matInput formControlName="OLD_PASSWORD" type="{{ SHOW_PASSWORD!=null && SHOW_PASSWORD.value ? 'text' : 'password' }}">
                <fa-icon [icon]="faKey" matPrefix></fa-icon>
                <mat-error *ngIf="(isChangePasswordAttempt || (OLD_PASSWORD != null && OLD_PASSWORD.touched)) && changePasswordFormErrors.OLD_PASSWORD">
                    {{changePasswordFormErrors.OLD_PASSWORD}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-2">
                <mat-label>New password</mat-label>
                <input matInput formControlName="NEW_PASSWORD" type="{{ SHOW_PASSWORD!=null && SHOW_PASSWORD.value ? 'text' : 'password' }}">
                <fa-icon [icon]="faKey" matPrefix></fa-icon>
                <mat-error *ngIf="(isChangePasswordAttempt || (NEW_PASSWORD != null && NEW_PASSWORD.touched)) && changePasswordFormErrors.NEW_PASSWORD">
                    {{changePasswordFormErrors.NEW_PASSWORD}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-2">
                <mat-label>Confirm password</mat-label>
                <input matInput formControlName="CONFIRM_PASSWORD" type="{{ SHOW_PASSWORD!=null && SHOW_PASSWORD.value ? 'text' : 'password' }}">
                <fa-icon [icon]="faKey" matPrefix></fa-icon>
                <mat-error *ngIf="(isChangePasswordAttempt || (CONFIRM_PASSWORD != null && CONFIRM_PASSWORD.touched)) && changePasswordFormErrors.CONFIRM_PASSWORD">
                    {{changePasswordFormErrors.CONFIRM_PASSWORD}}
                </mat-error>
            </mat-form-field>
            <mat-checkbox color="primary" formControlName="SHOW_PASSWORD" >Show password</mat-checkbox>
        </div>
        <div fxFlex class="padding2030" style="border-left: 1px solid;">
            <span class="display-block mat-h4">In order to protect your account, make sure your password:</span>
            <ul class="mt-3 mdc-typography--subtitle2">
                <li>
                    Is longer than 8 characters.
                </li>
                <li>
                    Does not match or significantly contains your username, e.g. 'username123'.
                </li>
                <li>
                    Is not member of this list of common passwords.
                </li>
                <li>
                    Is not member of the Have I been pwned breach databases.
                </li>
            </ul>
        </div>
    </div>

    <footer style="bottom: 0;left: 0;right: 0;" class="position-absolute shadow-1 p-3 text-right">    
        <button mat-raised-button color="primary" (click)="changePassword()">Save</button>
    </footer>
</form>