<div class="text-center padding2030">
    <div>
        <span class="mat-display-2 display-block m-0">Enter verification code</span>
        <span class="mat-samll display-block m-0">Obtain verification code sent to email registered with your account.</span>
    </div> 
    <div style="width: 400px;" class="m-auto">
        <img src="assets/illustrations/tfa.svg">
    </div> 
    <form [formGroup]="verificationCodeForm">
        <mat-form-field appearance="outline" style="width: 35px;" class="me-2">
            <input matInput formControlName="CH1" maxlength="1" autofocus>            
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 35px;" class="me-2">            
            <input matInput formControlName="CH2"  maxlength="1">            
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 35px;" class="me-2">            
            <input matInput formControlName="CH3" maxlength="1">            
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 35px;" class="me-2">            
            <input matInput formControlName="CH4" maxlength="1">            
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 35px;" class="me-2">            
            <input matInput formControlName="CH5" maxlength="1">            
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 35px;" class="me-2">            
            <input matInput formControlName="CH6" maxlength="1">            
        </mat-form-field>
    </form>
    <div>
        <button mat-raised-button color="primary" (click)="verifyProfile()">Verify</button>
    </div>
</div>