<div class="container-fluid padding2030 position-relative h-100" fxLayout="column">
    <header fxFlex="73px">
        <span class="mat-display-1">Onboarding</span>
        <hr>
    </header>  

    <div class="text-center">
        <mat-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form >
                <ng-template matStepLabel>Get started</ng-template>
                <div>
                    <get-started></get-started>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form >
                <ng-template matStepLabel>Send code</ng-template>
                <send-code></send-code>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Verify account</ng-template>
              <verify-account></verify-account>
            </mat-step>
            <mat-step>
              <div>
                <ng-template matStepLabel>Onboarding complete</ng-template>
                <finish-onboarding></finish-onboarding>
              </div>
            </mat-step>
          </mat-stepper>
    </div>
</div>