<mat-card class="padding2030">
    <header class="text-center">
        <span class="mat-display-1 display-block m-0">Welcome</span>
        <span class="mat-h4 display-block m-0">Sign in to continue to services</span>
    </header>
    <div class="padding1015">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Placeholder">
            <fa-icon [icon]="faUser" matPrefix></fa-icon>
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
    </div>
</mat-card>