<mat-card class="padding2030 sign-in-card">
    <header class="text-center">
        <span class="mat-display-1 display-block m-0">Welcome</span>
        <span class="mat-h2 display-block m-0">Sign in</span>
        <span class="mat-body display-block m-0">to continue to services</span>
    </header>

    <form [formGroup]="signInForm" class="padding1015">
        <div class="alert alert-danger mt-2 shadow-1" *ngIf="showSignInErrors">
            <ul class="m-0 p-0" style="list-style-type: none;">
                <li *ngFor = "let error of signInError">
                    {{error}}
                </li>
            </ul>
        </div>
        
    
        <div *ngIf="false">
            <!-- List of user's already logged in -->
            <ul class="logged-in-users">
                <li class="container-fluid">
                    <div fxFlex="50px" class="position-relative">
                        <div style="border: 1px solid;width: 40px;height: 40px;border-radius: 50%;" class="centralize">                            
                        </div>
                    </div>
                    <div fxFlex class="ms-1">
                        <span class="mat-h2 display-block m-0">Admin</span>
                        <span class="mat-small display-block m-0">@admin</span>
                    </div>
                </li>
                <li class="container-fluid">
                    <div fxFlex="50px" class="position-relative">
                        <div style="border: 1px solid;width: 40px;height: 40px;border-radius: 50%;" class="centralize">                            
                        </div>
                    </div>
                    <div fxFlex class="ms-1">
                        <span class="mat-h2 display-block m-0">Admin</span>
                        <span class="mat-small display-block m-0">@admin</span>
                    </div>
                    <div fxFlex="fit-content" class="position-relative">
                        <button class="vertical-center trash-icon" mat-icon-button>
                            <fa-icon [icon]="faTrash" style="color: #F44336;"></fa-icon>
                        </button>
                    </div>
                </li>
                <li class="container-fluid">
                    <div fxFlex="50px" class="position-relative">
                        <fa-icon [icon]="faUserCircle" style="margin-right: 0.5rem;" class="icon-21 centralize"></fa-icon>
                    </div>
                    <div fxFlex class="ms-1">
                        <span class="mat-h4">Use another account</span>
                    </div>                    
                </li>
            </ul>
        </div>
        <div>
            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Username</mat-label>
                <input matInput formControlName="USERNAME" autofocus>
                <fa-icon [icon]="faUser" matPrefix></fa-icon>
                <mat-error *ngIf="(isSignInAttempt || (USERNAME != null && USERNAME.touched)) && signInFormErrors.USERNAME">
                    {{signInFormErrors.USERNAME}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput formControlName="PASSWORD" type="{{ (SHOW_PASSWORD!=null && SHOW_PASSWORD.value) ? 'text' : 'password' }}">
                <fa-icon [icon]="faLock" matPrefix></fa-icon>
                <button type="button" (click)="passwordToggle()" mat-icon-button matSuffix>
                    <fa-icon [icon]="faEye" class="m-0"></fa-icon>
                </button>
                <mat-error *ngIf="(isSignInAttempt || (PASSWORD != null && PASSWORD.touched)) && signInFormErrors.PASSWORD">
                    {{signInFormErrors.PASSWORD}}
                </mat-error>
            </mat-form-field>
        </div>
        <mat-checkbox color="primary">Remember me</mat-checkbox>
        <div class="mt-2 text-end">
            <button mat-raised-button color="primary" (click)="signIn()">Sign in</button>
        </div>
        <div class="text-end">
            <button type="button" mat-button color="primary">Forget password?</button>
        </div>

    </form>
</mat-card>