#loading-indicator-overlay{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0,0,0,0.4)
}

#loading-indicator{
    width:100px; 
    height: 100px;
    border-radius: 3px;    
    z-index: 3;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spinner-container{
    width:60px; 
    height: 60px;
    top: 0.35rem;
}

.outer-spinner {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #2196f3;
    opacity: .9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2196f3;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 5px;
    -webkit-animation: spinPulse 1s infinite linear;
    animation: spinPulse 1s infinite linear;
}

.inner-spinner {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #2196f3;
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2196f3;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    -webkit-animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear;
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        transform: rotate(-320deg);
        opacity: 0;
    }
}

@keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}