<div class="sidebar">
    <mat-nav-list class="text-center">
        <mat-list-item>
            <fa-icon [icon]="faHome" matTooltip="Home" matTooltipPosition="right"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faUser" matTooltip="Profile" matTooltipPosition="right"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faClipboardList" matTooltip="Task board" matTooltipPosition="right"></fa-icon>
        </mat-list-item>
    </mat-nav-list>

    <mat-nav-list class="bottom-list">
        <mat-list-item>
            <fa-icon [icon]="faCog" matTooltip="Settings" matTooltipPosition="right"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <div class="profile-icon"></div>
        </mat-list-item>
    </mat-nav-list>
</div>