<div class="sidebar">
    <mat-nav-list class="text-center">
        <mat-list-item routerLink="/home">
            <fa-icon [icon]="faHome" matTooltip="Home" matTooltipPosition="right" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faUser" matTooltip="Profile" matTooltipPosition="right" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faClipboardList" matTooltip="Task board" matTooltipPosition="right" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
        </mat-list-item>
    </mat-nav-list>

    <mat-nav-list class="bottom-list">
        <mat-list-item>
            <fa-icon [icon]="faCog" matTooltip="Settings" matTooltipPosition="right" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <div class="profile-icon animate__animated animate__zoomIn animate__faster" navMenu="user">
                <span class="initials">{{initials}}</span>
            </div>
        </mat-list-item>
    </mat-nav-list>
</div>