--root{
    --avatar-size: 40px
}

.sidebar{    
    height: 100%;
    box-shadow: 8px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: #424242;
    position: relative;

    
}

.bottom-list{
    position: absolute;
    width: 100%;
    bottom: 10px;        

    & .profile-icon{
        width: 40px;
        height: 40px;        
        border-radius: 50%;
        margin:auto;
        cursor: pointer;
        background-color: #f5f5f5;
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        text-align: center;

        & .initials{
        
            color: var(--combo-black-blue-500);
            font-size: calc(40px / 2); /* 50% of parent */
            line-height: 1;
            position: relative;
            top: calc(40px / 4); /* 25% of parent */
        }
    }

    
}
.mat-nav-list{
    & fa-icon{
        font-size: 21px;
        margin:auto;
        cursor: pointer;
        color: #f5f5f5;
    }
}