<div class="sidebar">
    <mat-nav-list class="text-center">
        <mat-list-item>
            <fa-icon [icon]="faHome"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faUser"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faClipboardList"></fa-icon>
        </mat-list-item>
    </mat-nav-list>

    <mat-nav-list class="bottom-list">
        <mat-list-item>
            <fa-icon [icon]="faCog"></fa-icon>
        </mat-list-item>
        <mat-list-item>
            
        </mat-list-item>
    </mat-nav-list>
</div>