<div class="container-fluid padding2030 position-relative h-100" fxLayout="column">    
    <header fxFlex="73px">
        <span class="mat-display-1">Profiles</span>
        <hr>
    </header>  
    <div fxFlex class="padding2030">
        <div class="container-fluid p-0" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
            <div fxFlex="200px" *ngFor="let data of profilesData">
                <account-profile-card [cardData]="data"></account-profile-card>
            </div>                        
            <!-- <div fxFlex class="position-relative" *ngIf="profilesData.length == 0">                 
                <div style="width: 500px;" class="text-center m-auto" >
                    <img src="assets/illustrations/account-illustration.svg" style="width: 500px;">
                    <span class="display-block mat-display-1">Select profile to view.</span>
                </div>
            </div> -->
        </div>
    </div>
</div>