<div class="padding2030">
    <header>
        <span class="mat-display-1">Profiles</span>
        <hr>
    </header>  

    <div class="container-fluid" fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="250px" class="padding1015">
            <div class="profile-card">

            </div>
        </div>
        <div fxFlex="250px" class="padding1015">
            <mat-card class="padding2030">

            </mat-card>
        </div>
        <div fxFlex="250px" class="padding1015">
            <mat-card class="padding2030">

            </mat-card>
        </div>
        <div fxFlex="250px" class="padding1015">
            <mat-card class="padding2030">

            </mat-card>
        </div>
        <div fxFlex="250px" class="padding1015">
            <mat-card class="padding2030">

            </mat-card>
        </div>
    </div>
</div>