<div class="padding2030 position-relative h-100">
    <header>
        <span class="mat-display-1">Profiles</span>
        <hr>
    </header>  

    <div class="container-fluid" fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="250px" class="padding1015">
            <account-profile-card></account-profile-card>            
        </div>        
    </div>

    <footer class="position-absolute shadow-1 padding1015 text-right" style="bottom: 0; left: 0;right: 0;">
        <button mat-raised-button color="primary" routerLink="/account/new-profile">New profile</button>
    </footer>
</div>