ul li{
    list-style-type: none;
    margin-bottom: 2rem;
}

ul{
    padding: 0;
    margin: 0;
}

.loading-screen{
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    z-index: 2;
    border-radius: 0.25rem;
    position: relative;
    overflow: hidden;

    

}

.loading-screen::before {
    
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 300px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}