<div class="container-fluid padding2030 position-relative h-100" fxLayout="column">
    <header fxFlex="73px">
        <span class="mat-display-1">Onboarding</span>
        <hr>
    </header>  

    <div class="text-center">
        <div>
            <span class="mat-display-2 display-block m-0">Enter verification code</span>
            <span class="mat-samll display-block m-0">Obtain verification code sent to email registered with your account.</span>
        </div> 
        <div style="width: 500px;" class="m-auto">
            <img src="assets/illustrations/tfa.svg">
        </div> 
        <div>
            <mat-form-field appearance="outline" style="width: 35px;" class="me-2">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input matInput maxlength="1" autofocus>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 35px;" class="me-2">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input matInput maxlength="1">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 35px;" class="me-2">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input matInput maxlength="1">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 35px;" class="me-2">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input matInput maxlength="1">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 35px;" class="me-2">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input matInput maxlength="1">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 35px;" class="me-2">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input matInput maxlength="1">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" routerLink="/account/onboard/verify-account">Verify</button>
        </div>
    </div>
</div>