@use '@angular/material' as mat;

@include mat.core();

$theme-colors:(
    "white": #f6f6f6,
    "black": #1B1C1E,
    "light-black": #424242,
    "blue-500": #2196f3,
    "blue-900": #0d47a1
);

$theme-dark:(
    "combo-black-blue-500": map-get($map: $theme-colors, $key: "black"),    
    "combo-black-blue-900": map-get($map: $theme-colors, $key: "black"),

    "combo-white-black": map-get($map: $theme-colors, $key: "white"),
    "combo-black-white": map-get($map: $theme-colors, $key: "black"),

    "combo-white-blue-500": map-get($map: $theme-colors, $key: "white"),
    "combo-white-blue-900": map-get($map: $theme-colors, $key: "white"),

    "combo-white-light-black": map-get($map: $theme-colors, $key: "light-black")
);

$theme-light:(
    "combo-black-blue-500": map-get($map: $theme-colors, $key: "blue-500"),
    "combo-black-blue-900": map-get($map: $theme-colors, $key: "blue-900"),

    "combo-white-black": map-get($map: $theme-colors, $key: "black"),
    "combo-black-white": map-get($map: $theme-colors, $key: "white"),

    "combo-white-blue-500": map-get($map: $theme-colors, $key: "blue-500"),
    "combo-white-blue-900": map-get($map: $theme-colors, $key: "blue-900"),

    "combo-white-light-black": map-get($map: $theme-colors, $key: "white")
);


$warn: mat.define-palette(mat.$red-palette);

.light-theme{
  // define a css variable for each theme color
  @each $name, $color in $theme-light {
    --#{$name}: #{$color};
  }

  $light-primary: mat.define-palette(mat.$blue-palette);
  $light-accent: mat.define-palette(mat.$blue-palette, A500);

  $light-theme: mat.define-light-theme((
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $warn
    )
  ));

  @include mat.all-component-themes($light-theme);
}

.dark-theme{

  // define a css variable for each theme color
  @each $name, $color in $theme-dark {
    --#{$name}: #{$color};
  }

  background-color: #1B1C1E;
  $dark-primary: mat.define-palette(mat.$gray-palette, A100);
  $dark-accent: mat.define-palette(mat.$gray-palette, A50);

  $dark-theme: mat.define-dark-theme((
    color:(
      primary: $dark-primary,
      accent: $dark-accent,
      warn:$warn
    )
  ));

  @include mat.all-component-themes($dark-theme);
}

.mat-card{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

.mat-form-field{
  font-size: 16px;
  & fa-icon{
    font-size: 21px;
    margin-right: 0.5rem;
  }

  & .mat-form-field-wrapper{
    padding-bottom: 0 !important;
  }

  & .mat-form-field-subscript-wrapper{
    position: relative !important;
  }
}

.mat-checkbox-inner-container{
  height: 21px !important;
  width: 21px !important;
}

.mat-checkbox{
  & .mat-checkbox-ripple{
    left: calc(50% - 25px) !important;
    top: calc(50% - 25px) !important;
    height: 50px !important;
    width: 50px !important;
  }
}

.mat-list-item-content{
  padding: 0 !important;
}

.mat-tab{
  color: red;
}

.mat-dialog-container{
  padding: 0 !important;
}

.mat-checkbox-layout{
  margin: 0 !important;
}
