@import '~@angular/material/theming';

@include mat-core();

$warn: mat-palette($mat-red);

.light-theme{

  $light-primary: mat-palette($mat-blue);
  $light-accent: mat-palette($mat-blue, A500);

  $light-theme: mat-light-theme((
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $warn
    )
  ));

  @include angular-material-theme($light-theme);
}

.dark-theme{
  background-color: #1B1C1E;
  $dark-primary: mat-palette($mat-gray, A100);
  $dark-accent: mat-palette($mat-gray, A50);

  $dark-theme: mat-dark-theme((
    color:(
      primary: $dark-primary,
      accent: $dark-accent,
      warn:$warn
    )
  ));

  @include angular-material-theme($dark-theme);
}

.mat-card{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

.mat-form-field{
  font-size: 16px;
  & fa-icon{
    font-size: 21px;
    margin-right: 0.5rem;
  }
}

.mat-checkbox-inner-container{
  height: 21px !important;
  width: 21px !important;
}

.mat-checkbox{
  & .mat-checkbox-ripple{
    left: calc(50% - 25px) !important;
    top: calc(50% - 25px) !important;
    height: 50px !important;
    width: 50px !important;
  }
}

.mat-list-item-content{
  padding: 0 !important;
}