@import '~@angular/material/theming';

@include mat-core();

$ClientApp-primary: mat-palette($mat-indigo);
$ClientApp-accent: mat-palette($mat-pink, A200, A100, A400);

$warn: mat-palette($mat-red);

$ClientApp-theme: mat-light-theme((
  color: (
    primary: $ClientApp-primary,
    accent: $ClientApp-accent,
    warn: $warn,
  )
));

@include angular-material-theme($ClientApp-theme);

.mat-card{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

.mat-form-field{
  & fa-icon{
    font-size: 21px;
    margin-right: 0.5rem;
  }
}