<div class="padding2030">
    <div>
        <fa-icon [icon]="faLongArrowAltLeft" class="pointer" style="font-size: 2rem;" routerLink="/settings"></fa-icon>
    </div>
    <header>
        <span class="mat-display-1">General</span>
        <hr>
    </header>
    <div class="padding2030 margin-auto" style="width:800px">
        <ul>
            <li>
                <div class="container-fluid padding1015">
                    <div fxFlex>
                        <span class="display-block mat-h2 m-0">Enable two factor authentication</span>
                        <span class="display-block mat-body m-0">Each time you sign in to your account, you'll need your password and a verification code.</span>
                        <span class="display-block mat-small m-0" >Verification code will be sent to verified e-mail linked to your account</span>
                    </div>
                    <form  fxFlex="60px" class="text-center position-relative">
                        <mat-slide-toggle color="primary"></mat-slide-toggle>                        
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>