<div class="nav-menu-item">
    <header matRipple class="padding1015"   style="background-color: var(--combo-black-white);border-radius: 0.25rem;">
        <div class="p-2 profile-header">
            <div class="shadow-1 margin-auto profile-icon">
                <span class="initials">{{initials}}</span>
            </div>

            <div class="mt-2">
                <span class="display-block mdc-typography--headline6">{{name}}</span>
                <span class="display-block mdc-typography--subtitle2">@{{username}}</span>
            </div>
        </div>
        <hr class="m-0"/>
    </header>
    <ul class="custom-list">
        <li routerLink="/account/change-password">
            <fa-icon [icon]="faKey"></fa-icon>
            <span>Change password</span>
        </li>
        <li (click)="signOut()">
            <fa-icon [icon]="faPowerOff"></fa-icon>
            <span>Sign out</span>
        </li>
    </ul>
    <!-- <footer class="text-center">
        <hr class="m-0"/>
        <span class="mdc-typography--subtitle2">&copy; Task manager 2021</span>
    </footer> -->
</div>